# OpenAI
OPENAI_API_KEY=sk-...

# SerpAPI
SERPAPI_KEY=...

# Pexels
PEXELS_KEY=...

# ElevenLabs
ELEVENLABS_KEY=...

# Pixabay
PIXABAY_KEY=...

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=eyJ...
